* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #DB2845;
}

/* LOGIN */
.already {
    border: 2px;
    border: none;
    background-color: #EE526C;
    width: 560px;
    text-align: center;
    margin-top: 135px;
    height: 380.198px;
    margin-left: 150px;
}

.acc {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: normal;
    font-weight: Bold;
    padding-top: 150px;
    color: #ffffff;
}

/* LOGIN BUTTON */
.but {
    width: 83.1458px;
    height: 42.6667px;
    color: #DB2845;
    border: none;
    border-radius: 5px;
    font-family: Arial;
    font-size: 16px;
    margin-top: 20px;
}

/* SIGN UP */
.signup {
    border: 2px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    width: 500px;
    height: 518.25px;
    margin-top: 66px;
    padding-top: 40px;
    padding-left: 40px;
}

.dis {
    display: flex;
}

/* SIGN UP FORM */
form {
    font-size: 20px;
    line-height: 2.2;
}

input {
    width: 420px;
    height: 41.3229px;
    font-size: 15px;
    padding-left: 200px;
}

/* SIGN UP BUTTON */
.sis {
    width: 96.9271px;
    height: 38.6667px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #DB2845;
}